#container {
  display: flex; /* Permet de mettre le bloc recherche et profil l'un à coté de l'autre */
  border-style: solid;

}
#div_logement {
  margin-right: 0%; /* Espace le bloc recherche du bloc profil */
  border-right-style: solid;
  padding : 1%; /* Pour que le cadre ne soit pas collé au texte */
  width: 70%;
  padding-top: 0%; /* Il y a deja la border du h2 donc pas besoin de rajouter */
  flex-grow: 1; /* Le bloc profil rempli son espace (sinon il y a des retours à la ligne inutils) */
}
#div_commentaire {
  flex-grow: 1; /* Le bloc profil rempli son espace (sinon il y a des retours à la ligne inutils) */
  border-style: none;
  padding : 1%; /* Pour que le cadre ne soit pas collé au texte */
  padding-top: 0%; /* Il y a deja la border du h2 donc pas besoin de rajouter */
}

.commentaire {
  padding-top: 10%;
  border-bottom-style: solid;
  border-width: thin;
}

li.checked{
  list-style-type: disc;
}
li.unchecked{
  list-style-type: circle;
}
